<div class='w-75 mx-auto'>
	<p class='fs-1'>Login</p>
	<form action='/login' method='post'>
		<div class='form-floating mb-3'>
			<input type='email' class='form-control' name='email' id='floatingInput' placeholder='name@example.com' />
			<label for='floatingInput'>Email address</label>
		</div>
		<div class='form-floating'>
			<input type='password' class='form-control' name='password' id='floatingPassword' placeholder='Password' />
			<label for='floatingPassword'>Password</label>
		</div>
		<button type='submit' class='btn btn-primary mt-3'>Login</button>
	</form>
</div>