<div class='row'>
	<div class='col-md-6'>
		<div class='mt-10rem'>
			<p class='fs-1'>Register</p>
			{{#if registerError}}
				<div class='alert alert-danger alert-dismissible fade show' role='alert'>
					<strong>Error!</strong>
					{{registerError}}
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			{{/if}}
			<form action='/register' method='post'>
				<div class='d-flex gap-3'>
					<div class='form-floating mb-3 w-50'>
						<input type='text' class='form-control' name='firstname' id='floatingInput' placeholder='Omar' />
						<label for='floatingInput'>First Name</label>
					</div>
					<div class='form-floating mb-3 w-50'>
						<input type='text' class='form-control' name='lastname' id='floatingInput' placeholder='Omar' />
						<label for='floatingInput'>Last Name</label>
					</div>
				</div>
				<div class='form-floating mb-3'>
					<input type='email' class='form-control' name='email' id='floatingInput' placeholder='name@example.com' />
					<label for='floatingInput'>Email address</label>
				</div>
				<div class='form-floating'>
					<input type='password' class='form-control' name='password' id='floatingPassword' placeholder='Password' />
					<label for='floatingPassword'>Password</label>
				</div>
				<button type='submit' class='btn btn-primary btn-lg mt-3'>Register</button>
			</form>
		</div>
	</div>
	<div class='col-md-6'>
		<img src='/sign.jpg' width='100%' alt='' />
	</div>
</div>