<div class='w-75 mx-auto'>
	<p class='fs-1'>Register</p>
	<form action='/register' method='post'>
		<div class='d-flex gap-3'>
			<div class='form-floating mb-3 w-50'>
				<input type='text' class='form-control' name='firstname' id='floatingInput' placeholder='Omar' />
				<label for='floatingInput'>First Name</label>
			</div>
			<div class='form-floating mb-3 w-50'>
				<input type='text' class='form-control' name='lastname' id='floatingInput' placeholder='Omar' />
				<label for='floatingInput'>Last Name</label>
			</div>
		</div>
		<div class='form-floating mb-3'>
			<input type='email' class='form-control' name='email' id='floatingInput' placeholder='name@example.com' />
			<label for='floatingInput'>Email address</label>
		</div>
		<div class='form-floating'>
			<input type='password' class='form-control' name='password' id='floatingPassword' placeholder='Password' />
			<label for='floatingPassword'>Password</label>
		</div>
		<button type='submit' class='btn btn-primary mt-3'>Register</button>
	</form>
</div>