.avatar {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
}
.avatar p {
	padding: 0;
	margin: 0;
}

.product-image {
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.delete-btn {
	border: none;
	outline: none;
	background-color: transparent;
}

.delete-btn:hover {
	color: #fff;
}

.mt-10rem {
	margin-top: 10rem;
}

.mt-5rem {
	margin-top: 5rem;
}

/*======================
    404 page
=======================*/

.page_404 img {
	width: 100%;
}
.four_zero_four_bg {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 400px;
	background-position: center;
}
.four_zero_four_bg h1 {
	font-size: 80px;
}
.four_zero_four_bg h3 {
	font-size: 80px;
}
.link_404 {
	color: #fff !important;
	padding: 10px 20px;
	background: #39ac31;
	margin: 20px 0;
	display: inline-block;
}
.contant_box_404 {
	margin-top: -50px;
}
